<div style='padding: 0 10px' >
    <img src='{{EMAILTOPLOGO}}' alt='logo' />
</div>
<br /><br />
Beste {{FIRSTNAME}},<br><br>
<br>{{MESSAGE}}!
<br /><br />
Login: {{EMAIL}}<br />
<div>
Activeer je account door op de volgende link te klikken: 
<a href="{{ACTIVATIONLINK}}">MOVESMART</a><br />
</div>
<br/>
<br/>
Met vriendelijke groet,<br /><br />
MOVESMART.company<br />T.+32(0)468 1941 85<br />
M.<a href='mailto:support@movesmart.company'>support@movesmart.company</a>
<br /><br />
<!--div style="padding:0 10px">
    <img src="{{EMAILBOTTOMLOGO}}" alt="eatfreshicon" />
</div>
<br/><br/>MOVESMART.company BV<br/>  
Kwelkade 1 - 4001 RK Tiel<br />
M.<a href='http://www.movesmart.company/'>www.MOVESMART.COMPANY</a>
<br /><br /><br /-->