<html>
	<body>
		<h3><center>Movesmart - Analysed Heart Rate Report</center></h3>
		<table style="width:648px;border-collapse:collapse">
			<tr>
				<td valign="top" >
					<p><b>Name:</b> {{Client-Name}}</p>
					<p><b>Club:</b> {{Club-Name}}</p>
				</td>
				<td align="right" valign="top"> 
					<p><b>Test Date :</b> {{Test-Date}}</p>
					<p><b>Analysed Date :</b> {{Analysed-Date}}</p>
				</td>
			</tr>
			<tr>
				<td colspan="2"><b>HeartRate Graph</b></td>
			</tr>
			<tr>
				<td align="center" colspan="2">{{hr-Graph}}</td>
			</tr>
			<tr>
				<td colspan="2"><b>FIT-Graph</b></td>
			</tr>
			<tr>
				<td align="center" colspan="2">{{cathr-Graph}}</td>
			</tr>
		</table>
		<div>
			<h5>Our Advice</h5>
			<p>{{coach-note}}</p>
		</div>
	</body>
</html>