/* .displaynone{display:none !important;} */
/*.disabledColor{background-color:#eee;}*/
.noCursor{cursor:not-allowed !important;}
/*.paginate{cursor:pointer;}*/
/*.successSetMessgae{-webkit-animation: fadeOut 2s forwards;animation: fadeOut 1s forwards;
-webkit-animation-delay: 5s;animation-delay: 5s;}
@-webkit-keyframes fadeOut {from {opacity: 1;}to {opacity:0;margin-top:-35px;}}
@keyframes fadeOut {from {opacity: 1;}to  {opacity:0;margin-top:-35px;}}

.common-btn{padding: 8px 15px; min-height: 10px;} */
/*.tabl-cont > span > a{color:#000;}*/

.error-msg { background-color: #FFF9F2; color: #D30000;}
.successSetMessgae { background-color:#808080; color: #FFFFFF;}
/*.overwriteSuccess{background-color:#008800 !important;}*/

.successSetMessgae,.error-msg {width: 17%;border: 1px solid #5e5e5e; padding: 5px; border-radius:0;
    font-size: 11px; text-align: center; font-weight:bold; margin:10px 0; }

.successSetMessgae div{padding:3px;}
.ajax-loader {
    background: url("../../images/loadedr.gif") no-repeat scroll center center transparent;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -999999px;
    top: 0;
    width: 100%;
}
.required {
    color: red;
}

/*#customPopbox {background: none repeat scroll 0 0 #e40043;opacity: 0;
position: absolute;width: 10%; z-index: 5000;margin-left: auto;margin-right: auto;left: 0;
top:25%;right: 0;border-radius:0px;min-height:100px;}*/


#customPopbox {
  position: fixed;
  padding: 15px;
    color: #000;
  width:0;
   /*border-radius: 10px;
  background-color:#e40043;
  background:url(../../images/movesmart/redGradient.jpg) repeat-y right;*/
  opacity: 0;
  z-index: 5000;
    margin: 1em 0 3em;
    left: 0; top:25%; right: 0;
  display: none;
}

/* creates triangle */
#customPopbox:after {
     /*background: none repeat scroll 0 0 #535353;*/
    border-bottom-right-radius: 40px 50px;
    bottom: -32px;
    content: "";
    height: 30px;
    position: absolute;
    right: 10%;
    transform: translate(-30px, -2px);
    width: 22px;
    z-index: -1;
    opacity: 0.7;
}
#customPopbox:before {
   /*background: none repeat scroll 0 0 #BF191D;
    border-bottom-right-radius: 80px 50px;
    border-right: 60px solid #BF191D;*/
    bottom: -30px;
    content: "";
    min-height: 30px;
    position: absolute;
    right: 7%;
    transform: translate(0px, -2px);
    z-index: -1;
}
#customPopbox .customPopcontent {color: #000;
    /*border-radius: 5px;*/
    box-shadow:10px 10px 10px #c9c9c9 inset;
    margin: 5px;
    min-height: 70px;
    height: auto;
    padding: 15px 15px 0 15px;font-size:11px;
    text-align: left;
    /*background-color:#fff;*/
    background:url(../../images/movesmart/whiteGradient.jpg) repeat-y right;
    min-width: 300px;
}

#customPopoverlay {background: none repeat scroll 0 0 #000;height: 100%;left: 0;opacity: 0.7;display:none;
    position: absolute;top: 0;width: 100%;z-index: 3000;}

#customPopmessage{opacity:0;padding-bottom: 15px;}

.customMsgBtn{border:0;padding:0 10px; margin:8px; cursor:pointer; float:right;}

/*.nomargin{margin:0;}*/
/*****
CHART
*****/
#container {
    height: 400px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
g text[text-anchor="end"] {
    display:block !important;
}
text[text-anchor="end"] {
    display:none;
}
.ulMenuCustom li {
    float:left;
    margin: 10px 5px;
}
.ulMenuCustom li a{
    width:150px;
}
/****
Auto Complete
***/
.autoCompletebox ,.typeahead  a{
color:#000 !important;
}
/* .typeahead{
    background-color:#fff;
    border:1px solid #aaa;
    height:200px;
    overflow-y:scroll;
    position:absolute;
    z-index:11111;
    width:200px;
}
.typeahead li:nth-child(odd){
    background-color:#ccc;
    padding:8px 0px;
}
.typeahead li:nth-child(even){
    background-color:#fff;
    padding:10px 0px;
}
*/
.disable-cursor{ cursor:default !important; }
textarea{font-size:13px;}

/*.disabledOpacity,.noCursor{opacity: 0.3 !important; }*/