<div class="page-list">
    <a class="paginate btn-link icon-arr-first {{DISPLAYSTATE}}"
       onclick="{{DISABLEANC}} window.location='$this->getUrlLink&amp;page=1&amp;offset=$this->offset'">
    </a>
    <a class="paginate btn-link icon-arr-left {{DISPLAYSTATE}}"
       onclick="{{DISABLEANC}} window.location='$this->getUrlLink&amp;page=$backPage&amp;offset=$this->offset'">
    $option
    </a>
    <a class="paginate btn-link icon-arr-right {{DISPLAYSTATUS}}"
       onclick="{{DISABLEANCHOR}} window.location='$this->getUrlLink&amp;page=$frontPage&amp;offset=$this->offset'">
        &nbsp;
    </a>
    <a class="paginate btn-link icon-arr-last {{DISPLAYSTATUS}}"
       onclick="{{DISABLEANCHOR}} window.location='$this->getUrlLink&amp;page=$outOfValue&amp;offset=$this->offset'">
        &nbsp;
    </a>
    <span> of&nbsp;&nbsp;&nbsp; {{OUTOFVALUE}}</span>
</div>