<span style='color: #000'>71 frames</span>	<span style='color: #900'>20,992 KB</span>	<span style='color: #090'>1,389.03 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />